<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="summit_xl">

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find robot_description)/urdf/bases/rbsummit/rbsummit_xl_base.urdf.xacro" />

	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find robot_description)/urdf/wheels/rubber_wheel/rubber_wheel.urdf.xacro" />
  	<xacro:include filename="$(find robot_description)/urdf/wheels/omni_wheel/omni_wheel.urdf.xacro" />

    <xacro:macro name="rbsummit_xl" params="robot_id publish_bf hq kinematics">
		<xacro:property name="mesh_file_left" value="robot_description/meshes/wheels/rubber_wheel/rubber_wheel_left" />
		<xacro:property name="mesh_file_right" value="robot_description/meshes/wheels/rubber_wheel/rubber_wheel_right" />

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->
		<xacro:rbsummit_xl_base robot_id="$(arg robot_id)" publish_bf="true" hq="${hq}" />

		<!-- Summit XL wheels -->
		<xacro:if value="${kinematics == 'skid' or kinematics == 'skid_4w'}">
			<xacro:rubber_wheel robot_id="${robot_id}_front_right" parent="${robot_id}_base_link" reflect="false" hq="${hq}" mesh_file="${mesh_file_right}">
				<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
				<axis xyz="0 1 0" />
			</xacro:rubber_wheel>

			<xacro:rubber_wheel robot_id="${robot_id}_front_left" parent="${robot_id}_base_link" reflect="false" hq="${hq}" mesh_file="${mesh_file_left}">
				<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
				<axis xyz="0 1 0" />
			</xacro:rubber_wheel>

			<xacro:rubber_wheel robot_id="${robot_id}_back_left" parent="${robot_id}_base_link" reflect="false" hq="${hq}" mesh_file="${mesh_file_left}">
				<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
				<axis xyz="0 1 0" />
			</xacro:rubber_wheel>

			<xacro:rubber_wheel robot_id="${robot_id}_back_right" parent="${robot_id}_base_link" reflect="false" hq="${hq}" mesh_file="${mesh_file_right}">
				<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
				<axis xyz="0 1 0" />
			</xacro:rubber_wheel>
		</xacro:if>
		<xacro:if value="${kinematics == 'omni' or kinematics == 'omni_4w'}">
			<xacro:omni_wheel robot_id="${robot_id}_front_right" parent="${robot_id}_base_link" reflect="false" hq="${hq}">
				<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
			</xacro:omni_wheel>

			<xacro:omni_wheel robot_id="${robot_id}_front_left" parent="${robot_id}_base_link" reflect="true" hq="${hq}">
				<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
			</xacro:omni_wheel>

			<xacro:omni_wheel robot_id="${robot_id}_back_left" parent="${robot_id}_base_link" reflect="true" hq="${hq}">
				<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
			</xacro:omni_wheel>

			<xacro:omni_wheel robot_id="${robot_id}_back_right" parent="${robot_id}_base_link" reflect="false" hq="${hq}">
				<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
			</xacro:omni_wheel>
		</xacro:if>

	

		<!-- Gazebo ros control pluggins -->
		<xacro:ros_control/>

		<xacro:if value="$(arg ros_planar_move_plugin)">

			<xacro:if value="${kinematics == 'omni' or kinematics == 'omni_4w'}">
				<xacro:omni_steering robot_id="${robot_id}_" publish_tf="true" force_based="$(arg ros_planar_move_plugin_force_based)"/>
			</xacro:if>

			<xacro:if value="${kinematics == 'skid' or kinematics == 'skid_4w'}">
				<xacro:skid_steering robot_id="${robot_id}_" publish_tf="true" force_based="$(arg ros_planar_move_plugin_force_based)"/>
			</xacro:if>

		</xacro:if>

   </xacro:macro>
</robot>

