<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ros2_control" params="namespace:=robot config_controllers:=''">
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/${namespace}</robotNamespace>
      </plugin>
      <!-- <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <commandTopic>/${namespace}/robotnik_base_control/cmd_vel</commandTopic>
        <odometryTopic>/${namespace}/robotnik_base_control/odom</odometryTopic>
        <odometryFrame>${namespace}_odom</odometryFrame>
        <robotBaseFrame>${namespace}_base_footprint</robotBaseFrame>
        <publishWheelTF>false</publishWheelTF>
        <publishOdomTF>true</publishOdomTF>
        <publishWheelJointState>true</publishWheelJointState>
        <wheelSeparation>1.0</wheelSeparation>
        <wheelDiameter>1.0</wheelDiameter>
        <wheelAcceleration>5.0</wheelAcceleration>
        <wheelTorque>300.0</wheelTorque>
        <updateRate>100.0</updateRate>
        <leftJoint>${namespace}_left_wheel_joint</leftJoint>
        <rightJoint>${namespace}_right_wheel_joint</rightJoint>
      </plugin> -->
      <!-- <plugin name="omni_steering" filename="libgazebo_ros_planar_move.so">
        <commandTopic>/${namespace}/robotnik_base_control/cmd_vel</commandTopic>
        <odometryTopic>/${namespace}/robotnik_base_control/odom</odometryTopic>
        <odometryFrame>${namespace}_odom</odometryFrame>
        <odometryRate>50.0</odometryRate>
        <robotBaseFrame>${namespace}_base_footprint</robotBaseFrame>
        <publishTF>true</publishTF>
        <enableYAxis>false</enableYAxis>
      </plugin> -->
    </gazebo>
  </xacro:macro>
</robot>
