<?xml version="1.0"?>
<robot name="rbsherkan" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ***************** -->
    <!-- Imported elements -->
    <!-- ***************** -->

    <!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

    <!-- Import rbsherkan base elements-->
    <xacro:include filename="$(find robot_description)/urdf/bases/rbsherkan_base.urdf.xacro" />

    <!-- Import rbsherkan wheels -->
    <xacro:include filename="$(find robot_description)/urdf/wheels/caster_wheel/rbsherkan_caster.urdf.xacro" />

    <!-- Import rbsherkan structures -->
    <xacro:include filename="$(find robot_description)/urdf/structures/rbsherkan_chassis/rbsherkan_rocker.urdf.xacro" />

    <!-- Import rbsherkan control -->
    <xacro:include filename="$(find robot_description)/urdf/structures/common.gazebo.xacro"/>

    <!-- Import all available sensors -->
    <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

    <!-- Base configuration -->
    <xacro:arg name="prefix" default="robot_" />
    <xacro:property name="hq" value="true" />

    <xacro:macro name="rbsherkan" params="prefix hq">

      <xacro:rbsherkan_base prefix="${prefix}" hq="${hq}"/>

      <!-- Rocker -->
      <xacro:rocker_front prefix="${prefix}left_" parent="${prefix}base_link" hq="true" reflect="true">
        <origin xyz="0.095 0.16975 -0.0125" rpy="0 0 0"/>
      </xacro:rocker_front>
      <xacro:rocker_front prefix="${prefix}right_" parent="${prefix}base_link" hq="true" reflect="false">
        <origin xyz="0.095 -0.16975 -0.0125" rpy="0 0 0"/>
      </xacro:rocker_front>

      <!-- Casters -->
      <xacro:caster prefix="${prefix}rear_left_caster_" parent="${prefix}base_link" hq="true">
        <origin xyz="-0.185 0.16975 0.0302" rpy="0 0 0"/>
      </xacro:caster>
      <xacro:caster prefix="${prefix}rear_right_caster_" parent="${prefix}base_link" hq="true">
        <origin xyz="-0.185 -0.16975 0.0302" rpy="0 0 0"/>
      </xacro:caster>

      <!--IMU To do: get real imu position -->
      <xacro:sensor_vectornav prefix="${prefix}imu" parent="${prefix}base_link">
        <origin xyz="0.182 0.0855 0.1265" rpy="0 0 0"/>
      </xacro:sensor_vectornav>

      <!-- Front Camera -->
      <xacro:sensor_intel_d435 prefix="${prefix}front_rgbd_camera" parent="${prefix}base_link" prefix_topic="front_camera">
        <origin xyz="0.2708 0.0 0.216" rpy="0 0 0"/>
      </xacro:sensor_intel_d435>

      <!-- 2d laser -->
      <xacro:sensor_sick_nanoscan3 prefix="${prefix}front_laser" parent="${prefix}base_link" max_angle="${radians(120)}" min_angle="${radians(-120)}" gpu="false">
        <origin xyz="0.26226 0.0 0.1705" rpy="0 ${M_PI} ${M_PI}"/>
      </xacro:sensor_sick_nanoscan3>

    </xacro:macro>

  <!-- Gazebo ros control pluggins -->
  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
		    <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
	      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		    <legacyModeNS>true</legacyModeNS>
      </plugin>
    </gazebo>
	</xacro:macro>

  <xacro:rbsherkan prefix="$(arg prefix)" hq="${hq}" />

</robot>
