<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import the robot and all the sensors. All these elements are defined as macro:xacros -->

	<!-- Import summit XL macro -->
	<xacro:include filename="$(find robot_description)/robots/macros/summit_xl_macro.xacro"/>

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import antenna -->
	<xacro:include filename="$(find robot_description)/urdf/structures/sensor_support/structure_teltonika.urdf.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->
	
	<!-- Second we define all the parameters and arguments to customize the robot characteristics -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="robot_id" default="summit_xl"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>
    <xacro:arg name="ros_planar_move_plugin_force_based" default="false"/>
	<xacro:arg name="kinematics" default="skid"/>
	<xacro:arg name="gpu" default="false"/>
	<xacro:arg name="gps_latitude" default="0"/>
	<xacro:arg name="gps_longitude" default="0"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.229" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.235" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Here we create the robot using the xacro:macro imported at the beggining of this file -->
   	<xacro:summit_xl robot_id="$(arg robot_id)" publish_bf="true" hq="true" kinematics="$(arg kinematics)"/>

	<!-- Custom Sensors -->

	<!-- IMU -->
	<!-- <xacro:sensor_imu prefix="$(arg prefix)imu" parent="$(arg prefix)base_link" topic="imu/data_raw">
		<origin xyz="0.0385 0.132 0.158" rpy="0 0 0"/>
	</xacro:sensor_imu> -->
	<!-- 3d laser -->
	<!-- <xacro:sensor_rs_helios_16p prefix="$(arg prefix)top_3d_laser" parent="$(arg prefix)base_link" gpu="$(arg gpu)">
		<origin xyz="-0.11808 0.0 0.38509" rpy="0 0 0"/>
	</xacro:sensor_rs_helios_16p> -->
	<!-- ptz camera -->
	<!-- <xacro:sensor_axis_m5525 prefix="$(arg prefix)front_ptz_camera" parent="$(arg prefix)base_link">
		<origin xyz="0.19 0 0.26" rpy="0 ${15*PI/180} 0"/>
	</xacro:sensor_axis_m5525> -->
	<!-- RGBD -->
	<!-- <xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link">
			<origin xyz="0.324 0.012 0.172" rpy="0 0 0"/>
		</xacro:sensor_orbbec_astra> -->
	<!-- GPS -->
	<!-- <xacro:sensor_gps_with_mast prefix="$(arg prefix)gps" parent="$(arg prefix)base_link" gps_latitude="$(arg gps_latitude)" gps_longitude="$(arg gps_longitude)" update_rate="5">
			<origin xyz="-0.22528 0.095 0.275" rpy="0 0 0"/>
		</xacro:sensor_gps_with_mast> -->

	<!--Antenna-->
	<!-- <xacro:structure_mastil_teltonika prefix="$(arg prefix)antenna" parent="$(arg prefix)base_link">
			<origin xyz="-0.22528 -0.095 0.23325" rpy="0 0 0"/>
		</xacro:structure_mastil_teltonika> -->


</robot>
