<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find robot_description)/urdf/bases/summit_hm_base.urdf.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/structures/summit_hm/summit_hm_structure.xacro" />

	

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />


	<!-- Flag to select the high or low quality model -->
	<xacro:arg name="prefix" default="robot_"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>
    <xacro:arg name="ros_planar_move_plugin_force_based" default="false"/>
	<xacro:arg name="kinematics" default="skid"/>
	<xacro:arg name="gpu" default="false"/>
	<xacro:arg name="gps_latitude" default="0"/>
	<xacro:arg name="gps_longitude" default="0"/>


    <xacro:macro name="summit_hm" params="prefix publish_bf hq kinematics:=skid">
		<xacro:property name="top_structure_mesh" value="robot_description/meshes/structures/summit_hm/summit_hm_top_structure" />
		<xacro:property name="lidar_structure_mesh" value="robot_description/meshes/structures/summit_hm/summit_hm_3dlidar_structure" />
		<xacro:property name="top_structure_x" value="-0.13067"/>
		<xacro:property name="top_structure_y" value="0"/>
		<xacro:property name="top_structure_z" value="0.27998"/>
		<xacro:property name="top_lidar_structure_x" value="0"/>
		<xacro:property name="top_lidar_structure_y" value="0"/>
		<xacro:property name="top_lidar_structure_z" value="0.27609"/>
		<xacro:property name="PI" value="3.1415926535897931"/>

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->
		<xacro:summit_hm_base prefix="${prefix}" publish_bf="true" hq="${hq}" />
		
		<xacro:summit_hm_structure prefix="${prefix}_top_structure" parent="${prefix}base_link" mesh_file="${top_structure_mesh}" >
			<origin xyz="${top_structure_x} ${top_structure_y} ${top_structure_z}" rpy="0 0 0"/>
		</xacro:summit_hm_structure>
		<xacro:summit_hm_structure prefix="${prefix}_3dlidar_structure" parent="${prefix}base_link" mesh_file="${lidar_structure_mesh}" >
			<origin xyz="${top_lidar_structure_x} ${top_lidar_structure_y} ${top_lidar_structure_z}" rpy="0 0 0"/>
		</xacro:summit_hm_structure>

    	<!-- IMU -->
    	<xacro:sensor_imu prefix="$(arg prefix)imu" parent="$(arg prefix)base_link" topic="imu/data">
    	  <origin xyz="0.0 0.0 0.10398" rpy="0 0 0"/>
    	</xacro:sensor_imu>

    	<!-- PTZ camera -->

    	<xacro:sensor_link_750_nh prefix="$(arg prefix)ptz_camera" parent="$(arg prefix)base_link">
    	  <origin xyz="0.20878 0 0.28738" rpy="0 0 0"/>
    	</xacro:sensor_link_750_nh>

    	<!-- Sensia camera -->
		
    	<xacro:sensor_blk_arc prefix="$(arg prefix)sensia_camera" parent="$(arg prefix)base_link">
    	  <origin xyz="0.00001 0 0.54098" rpy="0 0 0"/>
    	</xacro:sensor_blk_arc>

    	<!-- RGBD -->

    	<xacro:sensor_intel_d435 prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
		<origin xyz="0.30995 0.0 0.16097" rpy="0 0 0"/>
    	</xacro:sensor_intel_d435>

		<xacro:sensor_intel_d435 prefix="$(arg prefix)rear_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
		<origin xyz="-0.308 0.0 0.18308" rpy="0 ${-PI} 0"/>
    	</xacro:sensor_intel_d435>

        <!-- GPS -->
        <xacro:sensor_ublox prefix="${prefix}gps" parent="${prefix}base_link" use_mast="false">
            <origin xyz="-0.26135 0.249 0.787" rpy="0 0 0"/>
        </xacro:sensor_ublox>

    	<!-- LIDAR -->
    	<xacro:sensor_rs_helios_16p prefix="$(arg prefix)top_3d_laser" prefix_topic="top_3d_laser" parent="$(arg prefix)base_link" gpu="false">
    	  <origin xyz="0.0 0.0 0.38998" rpy="0 0 0"/>
    	</xacro:sensor_rs_helios_16p>


		<!-- Gazebo ros control pluggins -->
		<xacro:ros_control/>

		<xacro:if value="$(arg ros_planar_move_plugin)">

			<xacro:skid_steering prefix="${prefix}" publish_tf="true" force_based="$(arg ros_planar_move_plugin_force_based)"/>
			

		</xacro:if>

   </xacro:macro>

   <xacro:summit_hm prefix="$(arg prefix)" publish_bf="true" hq="true" kinematics="$(arg kinematics)"/>


</robot>