<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/utils/inertial.urdf.xacro" />
 
  <xacro:macro name="rbsherkan_base" params="prefix hq">

    <!-- BASE FOOTPRINT -->
    <link name="${prefix}base_footprint"/>
    <joint name="${prefix}base_footprint_joint" type="fixed">
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
      <origin xyz="0 0 0.07" rpy="0 0 0"/>
    </joint>

    <!-- BASE LINK -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0.0945" rpy="${M_PI_2} 0 ${M_PI_2}" />
        <geometry>
          <mesh filename="package://robot_description/meshes/bases/rbsherkan_base_v1.stl" />
        </geometry>
        <material name="darkgrey">
          <color rgba="0.45 0.45 0.45 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.0945" rpy="${M_PI_2} 0 ${M_PI_2}" />
        <geometry>
          <mesh filename="package://robot_description/meshes/bases/rbsherkan_base_solid_v1.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.07 0 0.10" rpy="0 0 0" />
        <mass value="49.0" />
        <inertia ixx="1.15" ixy="0.0" ixz="0.0" iyy="1.68" iyz="0.0" izz="2.25" />
        <!-- <origin xyz="-0.005 0.008 0.405" rpy="0 0 0" />
        <mass value="109.22" />
        <inertia ixx="24.5" ixy="0.5" ixz="3.9" iyy="26.3" iyz="1.8" izz="5.8" /> -->
      </inertial>
    </link>
    <gazebo reference="base_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
      <maxContacts>4000</maxContacts>
      <minDepth>0.001</minDepth>
      <maxVel>0.0001</maxVel>
    </gazebo>

  </xacro:macro>

</robot>
